$board-dimension: 6;

.board{
  overflow: hidden;
  width: 62em;
}

.square{
  float: left;
  width: 100%/ $board-dimension;
  background-color: #aaa; }
  .square--odd{
    @extend .square;
    background-color: #000;
  }
